
#big {
	display: flex;
	border: 2px solid black;
	margin: auto;
	height: 200%;
	justify-content: space-evenly;
	background-color: blue;
}

div {
	padding: 10px;
}

a {
	color: white;
	font-style: none;
}

#div1 {
	
}

#div2 {
	
}

#div3 {
	
}