
#big {
	display: flex;
}
#div1 {
	border: 1px solid black;
	width: 20%;
	height: 20%;
	margin: 1px;
	padding: 20px;
}

#div2 {
	border: 1px solid black;
	width: 20%;
	height: 20%;
	margin: 1px;
	padding: 20px;
}

#div3 {
	border: 1px solid black;
	width: 20%;
	height: 20%;
	margin: 1px;
	padding: 20px;
}