div {
			height: 200px;
			width: 200px;
		}
#big {
	display: block;
}
#div1 {
	background-image:url('../img/aa.jpg');
	background-size: 100px  ;
	background-position: center;
	border: 1px solid black;
	background-repeat: no-repeat;
}

#div2 {
	background-image: url('../img/bb.jpg') ;
	background-repeat: repeat-x;
	background-position: bottom;
	border: 5px solid green;
	background-size: 100px  ;
}

#div3 {
	background-image: url('../img/cc.jpg') ;
	background-repeat: repeat-y;
	background-position: right;
	border: 10px solid gray;
	background-size: 100px  ;
}