div {
			height: 200px;
			width: 200px;
		}
#big {
	display: flex;
}
#1 {
	background-image:url('/img/aa.jpg');
	background-position: center;
}

#2 {
	background-image: url('/img/bb.jpg') ;
	background-repeat: repeat-x;
	background-position: bottom;
}

#3 {
	background-image: url('/img/cc.jpg') ;
	background-repeat: repeat-y;
	background-position: right;
}