#t2 {
    border: 1px solid black; /* Definir un borde completo */
    width: 50%;
    margin: 0 auto; /* Centrar la tabla */
    border-collapse: collapse; /* Opcional: Colapsar los bordes */
}

#t2 th, #t2 td {
    padding: 10px; /* Agregar espacio dentro de las celdas */
    border: 1px solid black; /* Borde alrededor de las celdas */
}
