#t2 {
    border: 4px double black;
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse; 
}

#t2 th, #t2 td {
    padding: 10px; 
    border: 2px double black; 
}

.tabla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 50%;
    margin: 0 auto;
    border: 1px double black;
    padding: 1px;
}
.celda {
    padding: 10px;
    border: 1px double black;
    text-align: center; 
    margin: 1px;
}
