html {
	background-color: #B5F4FF;
}

#titulo {
font-family: 'Helvetica', sans-serif;
}

header {
	background-color: #007bff;
	border-radius: 5px;
}

nav a {
	text-decoration: none;
	color: #007BFF;
	transition: color 0.3s ease-in-out; /* Transición para enlaces */
}

nav a:hover {
    color: #0056b3; /* Color del enlace al pasar el ratón */
}

#contenido {
	padding: 20px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#contenido h2 {
	font-size: 30px;
	margin: 0px;
}

#contenido p {
	font-size: 15px;
}

img {
object-fit: cover;
width: 100%;
height: 100%;
border-radius: 15px;
box-shadow: 0 20px 40px rgba(0, 0, 0, 1);
border: 2px solid black;
}

footer {
	background-color: #333;
}

footer p {
	color: white;
	text-align: center;
	padding: 5px;
}

p {
	margin: 10px;
	padding: 10px;
}

#inicio {
	display: flex;
}

.imgenlace {
	object-fit: cover;
	height: 100%;
	width: 100%;
	margin: 4px;
	padding: 4px;
}

.formulario {
	margin-top: 30px;
}

.formulario label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.formulario input, .formulario textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px; /* Bordes redondeados */
	transition: border-color 0.3s ease-in-out; /* Transición */
}

.formulario input:focus, .formulario textarea:focus {
	border-color: #007BFF; /* Cambiar color del borde en foco */
}

.formulario button {
	padding: 10px 20px;
	background-color: #007BFF;
	color: white;
	border: none;
	border-radius: 5px; /* Bordes redondeados */
	cursor: pointer;
	transition: background-color 0.3s ease-in-out; /* Transición */
}

.formulario button:hover {
	background-color: #0056b3; /* Color de fondo al pasar el ratón */
}
        
